.l-cb-offer-list {
  .l-cbt-offer-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .l-cbt-prefix {
    flex: none;
    white-space: pre;
    font-family: Consolas, "Courier New", monospace;
  }

  .l-cbt-label {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
